/*-- scss:defaults --*/
// Base document colors
$navbar-bg: #2c4a5e;
$navbar-fg: white;
// $navbar-hl-fg: white;
// $link-color: white;
$body-bg: #fafcff;
$body-color: #333;
// $link-color: #75AADB;

// Code blocks
// $code-block-bg-alpha: -.8;

$announcement-background: #87ceeb77; // Light transparent azure color
.alert-primary {
    background-color: $announcement-background !important; // Light transparent azure background
    color: #333 !important; // Optional: Adjust text color for better contrast
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: white !important; // Set hover and focus link color to white
}